---
import MainLayout from "../layouts/main-layout.astro";
import Carousel from '../components/Carousel.astro'
import CarouselItem from '../components/CarouselItem.astro'
import Card from '../components/Card.astro'
import { DUMMY_DATA } from "../components/Nav";
---

<MainLayout title="David Kielty">
  <main
    class="flex justify-center py-10 xl:py-52 bg-slate-200/20 text-slate-600"
  >
    <div
      class="flex justify-center flex-col lg:flex-row w-full max-w-screen-3xl text-center lg:text-left gap-10 lg:mx-10 xl:mx-20 sm:mx-16"
    >
      <div
        class="lg:w-7/12 3xl:w-8/12 flex flex-col gap-10 mx-8 lg:mx-0 "
      >
        <h1 class="font-raleway text-5xl font-bold">
          Hello! I'm David, a developer based in the United Kingdom
        </h1>
        <p class="font-montserrat text-2xl text-justify">
          <span>As a devoted enthusiast of learning and an aspiring full-stack technician, I am eager to contribute to the exciting world of software development. My commitment to constant growth and inventive thinking drives me to seek collaborative projects that push beyond the ordinary, yielding exceptional and ingenious solutions. </span>
          <span class="hidden 3xl:block ">
            Together, we can embark on a journey to create outstanding software that not only meets but exceeds expectations, leaving a lasting mark on the ever-evolving tech landscape.</span>
        </p>
        <div
          class="text-xl flex font-worksans justify-center xl:justify-start flex-col xs:flex-row"
        >
          <button
            class="bg-slate-200/5 mr-1 flex-1 border-slate-600 border-2 lg:max-h-20 text-slate-600 rounded-md py-2 xs:px-8 hover:border-slate-200/10 hover:bg-slate-600 hover:text-white max-w-screen-1btn"
            >View LinkedIn</button
          >
          <button
            class="bg-slate-600 ml-1 text-white flex-1 rounded-md border-2 lg:max-h-20 border-slate-200/10 py-2 xs:px-8 hover:border-slate-200/10 hover:border-2 hover:border-slate-600 hover:bg-slate-200/20 hover:text-slate-600 max-w-screen-1btn"
            >View Github</button
          >
          <button></button>
        </div>
      </div>

      <div
        class="lg:w-5/12 3xl:w-4/12 xs:mx-10 sm:mx-30 md:mx-40 lg:mx-0 2xl:mt-0 mx-10 xl:mx-0 flex justify-center lg:justify-end items-center"
      >
        <img
          class="w-100% rounded-full max-h-[500px] 2xl:min-h-[600px] md:min-w-[360px] max-w-screen-2xl:min-w-[440px]"
          src="../../public/images/Profile Pic 3.jpg"
          alt=""
        />
      </div>
    </div>
  </main>
  <section class="flex justify-center bg-slate-200/20 text-slate-600 px-4 py-4  ">
    <div class="flex flex-col items-center h-full ">
      <h2 class="text-center font-raleway text-5xl font-bold pb-14 ">Projects</h2>
      <div class="max-w-xs my-16 max-h-full block sm:hidden">
        <Carousel id="carousel">
            <CarouselItem>
              <Card href="https://meetups-t3.vercel.app/" title="Unite" body="Can I have a hobby with a side of friends, please?" tech="Technologies utilzed: NextJS, Typescript, Tailwind, PrismaORM, PostgreSQL, Zod, tRPC, CI/CD" imagesrc="../../public/images/meetupMain.png"/>
            </CarouselItem>
            <CarouselItem>
              <Card href="https://pandareview.onrender.com/" title="Panda Review" body="Share your favourite oriental hot-spot diners!" tech="Technologies utilzed: Javascript, MongoDB, Mongoose, Express, Node, Sessions" imagesrc="../../public/images/panda.png"/>
            </CarouselItem>
            <CarouselItem>
              <Card href="https://exquisite-souffle-cb2d07.netlify.app/" title="Scrumptious" body="Search for delicious recipes from all over the world!" tech="Technologies utilzed: React, FetchAPI, Styled Components, Carousel" imagesrc="../../public/images/Girlchef.png"/>
            </CarouselItem>
            <CarouselItem>
              <Card href="https://foodapp-624be.firebaseapp.com/" title="Gusto Restaurant" body="Michelin Star quality delivered to your home." tech="Technologies utilzed:  React, Firebase, ContextAPI, SASS" imagesrc="../../public/images/gusto.png"/>
            </CarouselItem>
        </Carousel>
      </div>
      <ul class="sm:flex flex-col gap-10 mx-4 hidden xl:flex-row flex-wrap justify-center max-w-screen-3xl">
        {DUMMY_DATA.map((project) => (
          <article class="px-10 text-xl group text-center bg-white font-montserrat py-16 rounded-lg shadow-2xl xl:w-[550px]">
            <a href={project.url} class=" flex flex-col h-[500px]">
              <div class=" flex flex-col gap-6 flex-1 py-4 px-4 tracking-tight mb-4 h-[180px]">
                <h2 class="text-3xl font-bold uppercase tracking-widest">
                  {project.title}
                </h2>
                <div class="relative w-100%">   
                  <p class="absolute group-hover:hidden align-center text-center text-2xl">
                    {project.description}
                  </p>
                  <p class="absolute hidden group-hover:block text-2xl">
                    {project.tech}
                  </p>
                </div>
              </div>
                <img
                  class="flex-1 self-center w-72 aspect-square"
                  src={project.imagesrc}
                  alt=""
                />
            </a>
          </article>
        ))}
      </ul>
    </div>
  </section>
</MainLayout>