---
interface Props {
  title: string;
  body: string;
  href: string;
  tech: string;
  imagesrc: string;
}

const { href, title, body, tech, imagesrc} = Astro.props;
---

<article class="link-card text-xl text-center h-full border-2 border-slate-200/30 bg-white text-slate-600 font-montserrat py-16">
  <a href={href} class="h-full flex flex-col">
    <div class="group flex-1 flex flex-col gap-6 py-4 px-4 h-3/6 tracking-tight">
      <h2 class="text-3xl font-bold font-montserrat uppercase tracking-widest">
        {title}
      </h2>
      <p class="group-hover:hidden align-center text-center">
       {body}
      </p>
      <p class="hidden group-hover:block">
        {tech}
      </p>
    </div>
    <div class="flex-1 h-3/6 h">
      <input
        class="h-1/12 w-10/12"
        type="image"
        src={imagesrc}
        alt=""
        size="fill"
      />
    </div>
  </a>
</article>